*:focus {
    outline: none;
}

body {
    background-color: #FBFCFC;
    background-image: url("../images/backgroundmap.png");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	font-size: 16px;
}

h1 {
    color: #FF9F1C;
    font-size: 100px;
    text-align: center;
}

h2 {
    color: #225378;
    font-size: 24px;
    font-weight: 700;
}

h3 {
	color: #1695A3;
	padding: 15px 5px;
	font-size: 18px;
}

h4 {
	padding: 15px 5px;
	font-weight: 800;
	text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin-bottom: 60px;
    padding: 0;
    overflow: hidden;
    background-color: #2EC4B6;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

ul a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    color: #FBFCFC;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul a:hover {
    color: #FBFCFC;
    text-decoration: none;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
}

li a:hover, a:active {
    color: white;
    background-color: #49D4C6;
    text-decoration: none;
}

.main_desc_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_desc {
    text-align: center;
}

.search_container {
    display: block;
	float: center;
	text-align: center;
	margin: 20px auto;
}

table, th, td {
    border: none;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

input.search_bar, #start_search, #end_search {
    width: 350px;
	height: 40px;
	display: block;
    background: #FBFCFC;
    background-repeat: no-repeat;
    background-position: 2%;
    background-size: contain;
	border-top: 4px solid #FF9F1C;
	border-bottom: 4px solid #FF9F1C;
    padding-left: 42px;
    font-size: 17px;
	color: #63717f;
}

input#start_search {
    background-image: url("../images/startdestination.png");
	border-left: 4px solid #FF9F1C;
	border-right: 2px solid #FF9F1C;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

input#end_search{
    background-image: url("../images/enddestination.png");
	border-left: 2px solid #FF9F1C;
	border-right: 4px solid #FF9F1C;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

button#go_button {
    background-color: #FF9F1C;
    border: none;
    color: white;
    padding: 5px 20px 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}

button#go_button:hover {
    background-color: #2EC4B6;
	cursor: pointer;
}

button#go_button:focus {
    outline: none;
}
